<span id="text"><%= @templates.text %></span>
<div id = "barProgress">
  <div id="newBar">
    <%=image_tag "car.jpg" ,width:50, height:42, class: "pull-right"%>
  </div>
</div>

<%= form_with(model:@type_racer,local:true) do |form| %>
  <div class="field">
    <%= form.text_area :text_area, id: :template_text, remote:true %>
    <span class ="match"> </span>
    <span class ="unmatch"></span>
  </div>
<% end %>

<button >Start</button>

<div>
  <p>WPM : <span id="checkWpm"> 0 </span></p>
</div>
<div class="hidden" id="showAccuracy">
  <p >Accuracy : <span id="accuracy"> 0 </span></p>
</div>



<!--<div id = "barProgress">-->
<!--  <div id="newBar">-->
    <%#=image_tag "car.jpg" ,width:50, height:42, class: "pull-right"%>
<!--  </div>-->

<!--</div>-->

<!--<div class="input">-->
<!--  <h1><span id="displayedText"></span>-->
<!--    <span class ="match"> </span>-->
<!--    <span class ="unmatch"></span>-->
<!--  </h1>-->
<!--</div>-->
<!--<div>-->
<!--  <input type = "text" id="userInput" value="" size="100">-->
<!--</div>-->
<!--<button >Start</button>-->
<!--<div>-->
<!--  <p>WPM : <span id="checkWpm"> 0 </span></p>-->
<!--</div>-->
<!--<div class="hidden" id="showAccuracy">-->
<!--  <p >Accuracy : <span id="accuracy"> 0 </span></p>-->
<!--</div>-->