<h1>TypeRacers</h1>
<% if current_user.present?  && current_user.has_roles?(:admin)  %>
  <h1>You are admin</h1>
<% end %>

<%if current_user.present? == false %>
  <table class="table table-striped table-bordered">
    <thead >
    <tr>
      <th scope="colgroup">Text</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td id="text"> <%= @templates.text %> </td>
      <td>
        <%= form_with(model:@template,local:true) do |form| %>
          <div class="field">
            <%= form.text_area :text_area, id: :template_text, remote:true %>
          </div>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>

