<h1>TypeRacers</h1>
<% if current_user.present?  && current_user.has_roles?(:admin)  %>
  <h1>You are admin</h1>
<% end %>

<%if current_user.present? == false %>
  <table class="table table-striped table-bordered">
    <thead >
    <tr>
      <th scope="colgroup">Text</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= @template.text %> </td>
      </tr>
    </tbody>
  </table>
<% end %>

